@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.agenda {
  padding: 5rem 0;
  @include m.contenedor;
}

.eventos {
    $modifcador:&;

  &__heading {
    color: v.$azul;
    margin: 5rem 0;
    text-align: left;
    font-size: clamp(2rem, -0.8rem + 8vw,6rem);
  }

  &__fecha{
    color: v.$gris;
    margin: 3 0 1rem 0;
  }

  &--workshops{
    #{$modifcador}__heading{

        color: v.$secundario;
    }
  }
}
